@import "fonts";

figure{
	margin:0;
}


figure.element--immersive {
  z-index: 100; 
}

// using this to float map thumbnails OR adapt to supporting tag
// 8.75rem = 140px

.element--supporting{
    float:right !important;
    margin-left: 0 !important;
    width:100% !important;
    margin-top: 0 !important;
    margin-bottom: 0.75rem !important;
    margin-right: 0rem !important;

      @media screen and (min-width: 410px) {
           width:18.75rem !important;
      }

    @media screen and (min-width: 740px) {
        margin-left: 0.6rem !important;
        width:13.75rem !important;
        margin-top: 3px !important;
        margin-bottom: 0.75rem !important;
        margin-right: 0rem !important;
      }
} 

.element--supporting:nth-of-type(0) {
  margin-top: 1em !important;

} 

// p sub::before {
//   position: absolute;
//   top: 0;
//   left: 0;
//   content: " ";
//   height: 1px;
//   width: 140px;
//   background: #484f53; 

// }

p sub {
  position: relative;
  display: inline; 
  font-size: 28px;
  line-height: 32px;
  font-family: "Guardian Egyptian Web", Georgia, serif;
  font-weight: normal;
  font-weight: 400;
  color: #333333;  
  vertical-align: none !important;
  

      @media screen and (min-width: 940px) {
        margin-top: 20px !important;
        padding-top: 10px !important;
        font-size: 36px;
        line-height: 40px;
        font-family: "Guardian Egyptian Web", Georgia, serif;
        font-weight: normal;
        font-weight: 200; 
       
    }

}

p sup {
  position: relative;
  display: inline; 
  font-size: 28px;
  line-height: 32px;
  font-family: "Guardian Egyptian Web", Georgia, serif;
  font-weight: normal;
  font-weight: 400;
  color: #333333;  
  vertical-align: none !important;
  

      @media screen and (min-width: 940px) {
        margin-top: 20px !important;
        padding-top: 10px !important;
        font-size: 36px;
        line-height: 40px;
        font-family: "Guardian Egyptian Web", Georgia, serif;
        font-weight: normal;
        font-weight: 200; 
       
    }

}

p em {
  position: relative;
  display: inline; 
  font-style: normal !important;
  font-size: 28px;
  line-height: 32px;
  font-family: "Guardian Egyptian Web", Georgia, serif;
  font-weight: normal;
  font-weight: 400;
  color: #333333;  
  vertical-align: none !important;
  

      @media screen and (min-width: 940px) {
        margin-top: 20px !important;
        padding-top: 10px !important;
        font-size: 36px;
        line-height: 40px;
        font-family: "Guardian Egyptian Web", Georgia, serif;
        font-weight: normal;
        font-weight: 200; 
       
    }

}

.block-share{
  display:none !important;
}

.caption--img {
    padding-bottom: 0 !important;
}





